h2 {
	font-weight: normal;
	text-transform: uppercase;
}
article {
	box-sizing: border-box;
	float: left;
	margin-bottom: 1em;
	position: relative;
	width: 33.3%;
}
article:nth-child(3n+1) {
	border-right: 0.5rem solid transparent;
}
article:nth-child(3n+2) {
	border-left: 0.25rem solid transparent;
	border-right: 0.25rem solid transparent;
}
article:nth-child(3n+3) {
	border-left: 0.5rem solid transparent;
}
figure.article-thumbnail {
	float: none;
	margin: 0;
}
figure.article-thumbnail img {
	display: block;
	width: 100%;
}
article > div {
	bottom: 0;
	max-height: 100%;
	overflow-y: hidden;
	position: absolute;
	width: 100%;
	z-index: 0;
}
article:hover > div {
}
article > div:before {
	content: '';
	height: 100%;
	left: 0;
	opacity: 0.85;
	position: absolute;
	top: 0;
	width: 100%;
	-webkit-transition: opacity .2s linear;
	-moz-transition:    opacity .2s linear;
	-o-transition:      opacity .2s linear;
	transition:         opacity .2s linear;
	z-index: -1;
}
.topic-4-h > div:before,
.topic-4-h > a:hover,
.topic-4-h .active {
	background-color: #009849;
}
.topic-agricultural-production > div:before,
.topic-agricultural-production > a:hover,
.topic-agricultural-production .active {
	background: #826229;
}
.topic-communities-and-economic-development > div:before,
.topic-communities-and-economic-development > a:hover,
.topic-communities-and-economic-development .active {
	background: #b67233;
}
.topic-family-and-home > div:before,
.topic-family-and-home > a:hover,
.topic-family-and-home .active {
	background: #4f868e;
}
.topic-food-and-nutrition > div:before,
.topic-food-and-nutrition > a:hover,
.topic-food-and-nutrition .active {
	background: #c69214;
}
.topic-gardening > div:before,
.topic-gardening > a:hover,
.topic-gardening .active {
	background: #7b451d;
}
.topic-natural-resources > div:before,
.topic-natural-resources > a:hover,
.topic-natural-resources .active {
	background: #8f7e35;
}
article:hover > div:before {
	opacity: 1;
}
article header h3 {
	font-size: 1em;
	line-height: 1.5em;
	padding: 0;
}
article header h3 a {
	display: block;
	padding: 0.5rem 1rem;
}
article .article-summary {
	display: none;
	padding: 0 1rem;
}
article:hover .article-summary {
	display: block;
	padding-bottom: 1rem;
}
.more-button {
	margin-top: 2rem;
}

.browse-terms {
	padding: 0;
	list-style: none;
}
.browse-terms.topics li {
	border-style: solid;
	border-width: 1px;
	margin-bottom: 7px;
	max-height: 150px;
	overflow: scroll;
	padding: 0;
}
.browse-terms.topics li a {
	display: block;
	padding: 0.3rem 0.5rem;
	text-align: center;
	-webkit-transition: background-color .2s linear;
	-moz-transition:    background-color .2s linear;
	-o-transition:      background-color .2s linear;
	transition:         background-color .2s linear;
}
.topic-4-h {
	border-color: #009e60;
	border-color: #009849;
}
.topic-agricultural-production {
	border-color: #826229;
}
.topic-communities-and-economic-development {
	border-color: #b67233;
}
.topic-family-and-home {
	border-color: #4f868e;
}
.topic-food-and-nutrition {
	border-color: #c69214;
}
.topic-gardening {
	border-color: #7b451d;
}
.topic-natural-resources {
	border-color: #8f7e35;
}
.locations-container {
	height: 150px;
	overflow: scroll;
	position: relative;
}
.browse-terms.locations {
	background: #5e6a71;
}
.browse-terms.locations li {
	padding: 0;
}
.browse-terms.locations li a {
	display: block;
	padding: 0.3rem 0.5rem;
}
.browse-terms.locations li a:hover {
	background: #464e54;
}
.browse-terms.locations li a.active {
	background: #981e32;
}
@media only screen and (max-width:480px) {
	article:nth-child(3n+1),
	article:nth-child(3n+2),
	article:nth-child(3n+3) {
		border: none;
		float: none;
		position: relative;
		width: 100%;
	}
}